body {
    background-color: #2ecc71;
    font-family: 'Trebuchet MS', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}
#startButton {
    font-size: larger;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: aliceblue;
    padding: 10px 20px;
}
#startButton:hover {
    color: blueviolet;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: cadetblue;
    align-items: center;
    cursor: pointer;
}